.arrow-container {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-animation: bounce 2s infinite linear;
  -webkit-animation: bounce 2s infinite linear;
  animation: bounce 2s infinite linear;
  font-size: 3rem;
  z-index: 3;
  color: #c36448;
  margin-top: calc((20 / 375) * 100) vw;
}

@media only screen and (min-width: 768px) {
  .arrow-container {
    font-size: 4rem;
    width: 3.8vw;
    height: 4.4vw;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
