/* google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;700;800&display=swap");

.title_main {
  color: #c36448;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding-top: 100px;
  padding-left: 17px;
  padding-right: 17px;
}
.description_main {
  padding: 0 17px;
}
.image_text_grid {
  align-items: center;
  display: flex;
  flex-direction: "row";
  margin: 15px 17px;
  margin-bottom: 0;
  padding-bottom: 15px;
}
.image_text_grid p {
  margin: 0;
  align-items: center;
}
.instructor_image {
  width: 67px;
  height: 67px;
  border-radius: 50px;
}
.instructor_name,
.instructor_description,
.description_main {
  color: #675d51;
  font-size: 13px;
}
.instructor_name {
  font-weight: 700;
  padding-left: 20px;
}
.instructor_description {
  font-weight: 300;
  padding-left: 20px;
}

.body_content {
  background-color: #effdfb;
  margin: 15px;
  /* font-family: 'Kanit', sans-serif; */
  margin-bottom: 0;
}
.all_content {
  font-family: "Kanit", sans-serif;
}

.langara_logo {
  height: 11vw;
  width: 23vw;
  /* margin: 10px; */
}
.langara_hamburger {
  float: right;
  width: 43px;
  height: 32px;
  margin: 10px;
}
.planet {
  width: 109px;
  height: 59px;
  margin: 20px;
}
.planet_container {
  /* margin-left: 25%;
    margin-right: 25%; */
  text-align: center;
}

/* media queries */
@media only screen and (min-width: 1000px) {
  .instructor_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image_text_grid {
    margin-left: 25%;
    margin-bottom: 0;
  }
  .description_main {
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
  }
  .body_content {
    margin: 50px;
    margin-bottom: 0;
  }
  .langara_logo,
  .langara_hamburger {
    display: none;
  }
  .langara .title_main {
    font-size: 50px;
  }
  .instructor_name,
  .instructor_description,
  .description_main {
    font-size: 19px;
  }
  .planet {
    width: 138px;
    height: 75px;
  }
}
