.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.langara_logo {
  height: 11vw;
  width: 23vw;
}

.langara_logo_in_menu {
  height: 11vw;
  width: 23vw;
  position: absolute;
  top: 29px;
  left: 25px;
}

.menues {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 1.3vw 5.4vw;
    margin-bottom: 6.8vw;
  }

  .langara_logo {
    height: 41.65px;
    width: 87.9px;
  }

  .menuItem {
    margin-left: 7.5vw;
    font-weight: 300;
    font-size: 1.1vw;
  }
}
